# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
.netlify/

# Node dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Temporary files
*.tmp
*.temp
